.box {
    display: flex;
    flex-direction: row;
}

.block {
    background-color: rgb(223, 223, 223);
    width: 10%;
    text-align: center;
    border-radius: 20px;
    padding: 1%;
    margin: auto 5%;
}

img {
    width: 100%;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 25px;
}

button {
    border-radius: 10%;
    padding: 5%;
    color: white;
    background-color: cadetblue;
    font-weight: bold;
    border: 1px solid gray;
}

button:hover {
    background-color: lightseagreen;
}